<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.herokey" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeroKey" >
        <activity
            android:name=".Ui.ConnectIpAddressPage"
            android:exported="false"/>
        <activity
            android:name=".Ui.PublicRoomChatPage"
            android:exported="false" />
        <activity
            android:name=".Ui.RegisterAccountPage"
            android:exported="false" />
        <activity
            android:name=".Ui.LoadingStartPage"
            android:exported="false" />
        <activity
            android:name=".Ui.PrivateChatPage"
            android:exported="false" />
        <activity
            android:name=".Ui.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>